body {

  margin: 0;
  background: radial-gradient(
  circle at center,
  #103050 0%,
  #0b1f35 45%,
  #050b12 75%,
  #000000 100%
);

);

  color: #dffcff;

  font-family: Arial, sans-serif;

}

.container {

  height: 100vh;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  gap: 30px;

}

.timer {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  padding: 10px 20px;
  border-radius: 5px;

  font-size: 50px;
  font-family: monospace;
  color: #7df9ff;

}

.message {

  font-size: 20px;

  letter-spacing: 5px;

}

input {

  background: transparent;
  transition: 0.3s;
  
  padding: 10px;

  border: none;

  border-bottom: 2px solid #7df9ff;

  color: #dffcff;

  font-size: 24px;

  text-align: center;

  outline: none;
 
}

input:focus {

  background-color: rgba(0, 200, 255, 0.04);
  border-bottom: 2px solid #00ffff;
  box-shadow: 0 2px 10px #00c8ff;

}

button {

  background-color: transparent;

  color: #7df9ff;

  border: 1px solid #7df9ff;

  padding: 10px 30px;

  letter-spacing: 3px;

  box-shadow: 0 0 10px #00c8ff;

}

    
    
    
    
    
  #errorMessage {
  color: orange;
  margin-top: 20px;
  opacity: 0;
  transition: 0.3s;
}



#hackingScreen {

  display: none;

  width: 100vw;

  height: 100vh;

  background-color: black;
  
  flex-direction: column;

  justify-content: center;

  align-items: center;
  
  gap: 20px;

}

.hackingText {

  color: #7df9ff;

  border: 1px solid #00c8ff;

  padding: 10px 30px;

  background-color: rgba(0, 0, 0, 0.4);

  box-shadow: 0 0 20px #00c8ff;

  font-size: 20px;

  letter-spacing: 2px;

  font-family: monospace;

  display: inline-flex;

  justify-content: center;

  align-items: center;

}


.hackLine {
  color: #7df9ff;
  font-family: monospace;
  text-align: center;
  margin: 6px 0;
}


#noise {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  pointer-events: none;

  background: url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
  opacity: 0;
  mix-blend-mode: screen;
}

#bombScreen {

  display: none;

  width: 100vw;
  height: 100vh;

  background: radial-gradient(
    circle at center,
    #103050 0%,
    #123d66 35%,
    #08131f 75%,
    #000000 100%
  );

  justify-content: center;
  align-items: center;

  flex-direction: column;

  gap: 25px;
}

.cipherText {

  color: #7df9ff;

  font-family: monospace;

  letter-spacing: 2px;

  font-size: 16px;

  opacity: 0.8;

  text-align: center;
}

#errorText {

  opacity: 0;

  color: #ff9900;

  font-size: 40px;

  letter-spacing: 5px;

  margin-top: 30px;
  
  transition: 0.3s;

}

.errorFlash {

  animation: errorFlash 0.3s infinite;

}

@keyframes errorFlash {

  0% {

    color: #ffcc00;

    text-shadow: 0 0 10px #ffcc00;

  }

  50% {

    color: #ff6600;

    text-shadow: 0 0 20px #ff6600;

  }

  100% {

    color: #ffcc00;

    text-shadow: 0 0 10px #ffcc00;

  }

}


#successScreen {

  display: none;
  
  position: fixed;

  top: 0;

  left: 0;

  width: 100vw;

  height: 100vh;

  background-color: black;

  justify-content: center;

  align-items: center;

}


.successText {
  
  display: inline-block;

  color: #7df9ff;

  border: 1px solid #00c8ff;

  padding: 20px 40px;

  background-color: rgba(0, 0, 0, 0.4);

  box-shadow: 0 0 20px #00c8ff;
  
  text-shadow: 0 0 10px #00c8ff;

  font-size: 28px;

 font-family: monospace;
  
  letter-spacing: 4px;

}

#gameOverScreen {

  display: none;

  position: fixed;

  top: 0;

  left: 0;

  width: 100vw;

  height: 100vh;

  background-color: black;

  justify-content: center;

  align-items: center;

}

.gameOverText {

  color: red;

  font-size: 40px;

  font-family: monospace;

  text-shadow: 0 0 20px red;

}


.redFlash {

  animation: redFlash 0.3s infinite;

}

@keyframes redFlash {

  0% {

    background-color: black;

  }

  50% {

    background-color: #220000;

  }

  100% {

    background-color: black;

  }

}